@charset "UTF-8";
* { margin: 0px;        
    padding: 0px;

}
html,body {

    min-height: 100vh;
    background-color: violet;

}
header {
background-color: black;
color: aliceblue;
text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;


}
header > p {
padding-bottom: 50px;

}
header a, footer a {
color: aliceblue;
text-decoration: none;
font-weight: bolder;
}
header a:hover,footer a:hover{

    text-decoration: underline;
}

section{
padding-top: 10%vh;
padding-bottom: 10%vh;
padding-left: 30px;
line-height: 2em;

}
section.normal {
    background-color: aliceblue;
    color: black;
}

section.imagem {

    background-color: aquamarine;
    color: aliceblue;
}
section.imagem >p{
background-color: rgba(0, 0, 0, 0.369);
width: 400px;

}
footer{
    background-color: black;
    text-align: center;
    color: aliceblue;
    pad: 10px;
}

